In [152]:
import pandas as pd
class BabyNames:
    
    def __init__(self):
        self.folder = None
        self.data = None
    
    def Constructor(self, file_location = None):
        
        # Import pandas
        import pandas as pd
        
        # Create list of state abbreviations
#         states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
#                   "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
#                   "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
#                   "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
#                   "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
        
        # Test states
        states = ["AL", "AK", "FL", "GA", "WI", "WY"]
        
        # Init df
        df = pd.DataFrame()
        
        # Read all state babynames files into df
        for i in states:
            temp = pd.read_csv(file_location + "/" + str(i) + ".TXT", sep=",", header = None)
            df = pd.concat([df, temp])
        
        # Rename columns
        df = df.rename(columns={0: "state", 1: "sex", 2: "year", 3: "name", 4: "births"})
        
        # Store df in class
        self.data = df
        self.folder = file_location
        return self
    
    
    def Count(self, state = None, year = None):
        
        # Load class data
        df = self.data
        
        # Return sum births from df
        if state and year: return sum(df[(df.state == state) & (df.year == year)].births)

        elif not state and year: return sum(df[(df.year == year)].births)
            
        elif state and not year: return sum(df[(df.state == state)].births)
            
        else: return sum(df.births)
    
    def Top10BabyNames(self, state = "IL", year = 2015):
        
        # Import pandas
        import pandas as pd
        
        # Load class data
        df = self.data
        
        # Get top ten names and ranks
        df_m = df[(df.state == state) & 
                  (df.year == year) & 
                  (df.sex == "M")].sort_values(by = 'births', ascending = False).head(10)
        
        df_f = df[(df.state == state) & 
                  (df.year == year) & 
                  (df.sex == "F")].sort_values(by = 'births', ascending = False).head(10).name
        
        df_m["ranks"] = list(range(1, 11))
        df_m["name_f"] = list(df_f)
        
        # Return ranked table
        return df_m[["ranks", "name", "name_f"]]
    
    def ChangeOfPopularity(self, fromYear = 2014, toYear = 2015, top = 10):
        
        return self    
    
    def Top5NamesPerYear(self,year,sex = ''):
        # sex argument can only take 'F','M', or ''

        #filtering dataframe based on the given input
        if sex != '':
            df = self.data[(self.data['year'] == year) & (self.data['sex'] == sex)]
            df = df.groupby('state').head(5).reset_index(drop=True)
        else:
            df = self.data[(self.data['year'] == year)]
            g = df.groupby('state')
            df = g.apply(lambda x: x.sort_values(by = 'births', ascending=False).head(5))
        uniq_state = df['state'].unique()
        
        # number of rows the filtered dataframe
        num_rows = df.shape[0]
        ranks = [[],[],[],[],[]]
        nums = [[],[],[],[],[]]
        for i in range(num_rows):
            index = i%5
            ranks[index].append(df.iloc[i,3])
            nums[index].append(df.iloc[i,4])
            
        #construct an output dataframe
        if sex == 'F':
            psex = 'Female'
        elif sex == 'M':
            psex = 'Male'
        elif sex == '':
            psex = 'Female or Male'
        print("Top Five " + psex + " Names for Births in " + str(year))
        output_df = pd.DataFrame({'State': uniq_state,'Rank1': ranks[0],'Num1': nums[0], 'Rank2':ranks[1],
                            'Num2': nums[1], 'Rank3':ranks[2],'Num3': nums[2], 'Rank4':ranks[3],'Num4': nums[3],
                             'Rank5':ranks[4],'Num5': nums[4]})
        return output_df
        
    
    def NamePopularityPlot(name = "Jim", yearRange = (2000, 2015), state = "IL", sex = "M"):
        
        return self
    
    def NameFlip(self, n = 10):
        
        return self

In [150]:
baby_test = BabyNames().Constructor(file_location = r"C:\Users\nuke2\Desktop\NW Work\Data\babynames")

In [151]:
baby_test.Top10BabyNames()

        ranks     name     name_f
133442      1  William        Ava
133443      2    James       Emma
133444      3     John     Olivia
133445      4    Mason     Harper
133446      5   Elijah  Elizabeth
133447      6     Noah    Madison
133448      7  Jackson     Amelia
133449      8   Carter   Isabella
133450      9  Michael     Skylar
133451     10   Samuel     Sophia