In [150]:
class BabyNames:
    
    def __init__(self):
        self.folder = None
        self.data = None
    
    def Constructor(self, file_location = None):
        
        import pandas as pd
#         states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
#                   "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
#                   "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
#                   "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
#                   "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
        
        # Test states
        states = ["AL", "AK", "FL", "GA", "WI", "WY"]
        
        df = pd.DataFrame()
        
        for i in states:
            temp = pd.read_csv(file_location + "/" + str(i) + ".TXT", sep=",", header = None)
            df = pd.concat([df, temp])

        df = df.rename(columns={0: "state", 1: "sex", 2: "year", 3: "name", 4: "births"})
        
        self.data = df
        self.folder = file_location
        return self
    
    
    def Count(self, state = "", year = ""):
        
        return self
    
    def Top10BabyNames(self, state = "IL", year = 2015):
        
        return self
    
    def ChangeOfPopularity(self, fromYear = 2014, toYear = 2015, top = 10):
        
        return self    
    
    def Top5NamesPerYear(self, year = 2015, sex = ""):
        
        return self
    
    def NamePopularityPlot(name = "Jim", yearRange = (2000, 2015), state = "IL", sex = "M"):
        
        return self
    
    def NameFlip(self, n = 10):
        
        return self

In [158]:
baby_test = BabyNames().Constructor(file_location = r"C:\Users\nuke2\Desktop\NW Work\Data\babynames")

In [155]:
baby_test.data

      state sex  year      name  births
0        AL   F  1910      Mary     875
1        AL   F  1910     Annie     482
2        AL   F  1910    Willie     257
3        AL   F  1910    Mattie     232
4        AL   F  1910      Ruby     204
...     ...  ..   ...       ...     ...
28746    WY   M  2021  Santiago       5
28747    WY   M  2021   Spencer       5
28748    WY   M  2021      Tate       5
28749    WY   M  2021   Timothy       5
28750    WY   M  2021    Tucker       5

[728756 rows x 5 columns]